main {
  display: flex;
}

input {
  display: block;
}

.form-output {
  display: flex;
  gap: 20px;
}

.input-section {
  width: calc(100vw - 210mm);
  min-width: 250px;
}

.resume {
  width: 210mm;
  height: 297mm;
  position: sticky;
  top: 10px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 2rem;
}

.basic-info-output-area {
  height: 35mm;
  border-bottom: 1px solid blue;
}

.work-experience-output-area {
  border-bottom: 1px solid blue;
}

.education-output-area {
  border-bottom: 1px solid blue;
}
